.btn-logout{
  margin-right: 0.5em;
  border-color: gray;
  margin-top: 0.4em;
  color: gray;
}
.btn-logout:hover {
  border-color: white;
  margin-top: 0.4em;
  color: white;
}
body{
  background-color:#F8F8F8;
}

.logout-text{
  color: white;
  display: inline-block;
  margin-right: 1em;
}
.footnote{
  color:white;
  background-color: #030303;
  margin-top: 1em;
  border-radius: 2px;
  padding: 0.5em;
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
}

.footnote a {
  color:white;
}
