<!doctype html>
<html ng-app="roll20macromaker">
	<head>
		<meta name="viewport" content="width=device-width">
		<meta charset="UTF-8">
		<title>Roll20 Macro Builder</title>
		<meta name="description" content="Easy Tool to Build Roll20 Spell and Attack Macros">
		<meta name="keywords" content="Roll20,Macro,3.5DnD,Dungeons and Dragons">
		<meta name="robots" content="index,follow">
		<!--build:css css/index.min.css -->
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
		<link rel="stylesheet" href="css/main.css">
		<!-- endbuild -->
	</head>
	<body class="container">
		<header class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
			<a class="navbar-brand" href="#">Roll20 Macro Builder</a>
		<%if (usuarioLogado.length > 0) { %>
		<div class="text-right"><div class="logout-text">
			Logado como: <span id="usuario-logado"><%=usuarioLogado %></span></div>
			<a class="btn btn-logout" href="/logout">Logout</a></div>
		<% } %>
	</header>

		<div ng-view></div>
		<footer class="footnote">
				<ul class="nav nav-pills nav-fill">
					<li class="nav-item"><p style="padding-top: 0.7em;padding-left: 0.7em;" >&#169; MIT License</p></li>
					<li class="nav-item"><a class="nav-link" href="https://github.com/tslima/roll20-macro-maker">Fork me on Github</a></li>
					<li class="nav-item"><a class="nav-link" href="privacypolicy">Privacy Policy</a></li>
					<li class="nav-item"><a class="nav-link" href="https://github.com/tslima/roll20-macro-maker/issues">Report a Bug</a></li>
				</ul>
		</footer>
		<!--build:js js/index.min.js -->
		<script src="vendor/angular/angular.js"></script>
		<script src="vendor/angular-route/angular-route.js"></script>
		<script src="vendor/angular-resource/angular-resource.js"></script>
		<script src="js/main.js"></script>
		<script src="js/services/InterceptorService.js"></script>
		<script src="js/services/IsAuthenticatedService.js"></script>
		<script src="js/directives/SelectOnClick.js"></script>
		<script src="js/controllers/MacroMakerController.js"></script>
		<!-- endbuild -->
	</body>
</html>
